<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />

    <title>Ajouter une nouvelle tâche</title>


    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

</head>

<body>

    <!-- Page Content -->
    <div class="container-fluid">

        <div class="row">
            <div class="col">
                <h2 class="my-5 text-center">AJOUT D'UNE TÂCHE</h2>
            </div>
        </div>
        <div id="successMsg" class="alert alert-success" hidden>La tâche a été ajoutée avec succès !</div>
        <form id="newTaskForm">
            <div class="mb-3">
                <label for="labelInput" class="form-label">Label</label>
                <input type="text" class="form-control" id="labelInput" placeholder="Label de la tâche ...">
            </div>
            <div class="mb-3">
                <label for="descriptionInput" class="form-label">Description</label>
                <textarea type="text" class="form-control" id="descriptionInput"
                    placeholder="Description de la tâche ..."></textarea>
            </div>
            <div class="mb-3">
                <label for="statusCheckbox" class="form-label">Terminée ?</label>
                <input type="checkbox" id="statusCheckbox">
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-dark">AJOUTER</button>
            </div>
        </form>


        <!-- Footer Content -->


    </div>
    <script src="../../controllers/new-task/new-task.js"></script>
    <script></script>
</body>

</html>