<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';"/>

    <title>Tasks Manager</title>

    
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    
</head>
<body>

<!-- Page Content -->
<div class="container-fluid">

    <!-- Header Content -->
    <div class="row">
        <div class="col">
            <h2 class="my-5 text-center">APPLICATION MULTI-TÂCHES</h2>
        </div>
    </div>

    <!-- Main Content -->
    <div class="row mb-5">

        <div class="col-5 mx-auto card shadow text-center py-3">

            <h4>LISTE DES TÂCHES<i class="fas fa-credit-card"></i></h4>

            <table id="main-table" class="table table-borderless">
                <thead class="table-danger">
                <tr>
                    <th scope="col">Label</th>
                    <th scope="col">Desc</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody id="tasks">
                </tbody>
            </table>

            <button id="addNewTaskBtn" class="btn-add btn btn-success p-1 text-white">AJOUTER</button>

        </div>
        

    </div>
   

    <!-- Footer Content -->
    

</div>
<script src="../../controllers/home/home.js"></script>
<script></script>
</body>
</html>
